{% extends "base1.html" %}
{% block title %}Editar Contrato{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/tabpix.css') }}">

<div class="container-tab-pix">
    <div class="filter-tab-pix2">
        <a class="close-btn" href="javascript:void(0);" onclick="goBack()" class="close-btn"><</a>
    </div>

    <h1 class="table-title-tab-pix">Editar Contrato</h1>

    <form method="POST" action="{{ url_for('cad.alterar_proposta', id=registro[0]) }}">
        <div class="section-tab-pix">
            <h2>Proposta</h2>
            <label><strong>Proposta:</strong>
                <input type="text" name="proposta" value="{{ registro[1] }}" readonly>
            </label><br>
            <label><strong>Contrato:</strong>
                <input type="text" name="contrato" value="{{ registro[13] }}" readonly>
            </label><br>
            <label><strong>Data:</strong>
                <input type="date" name="data" value="{{ registro[2]|replace('/', '-') }}">
            </label><br>
            <label><strong>Tipo de Contrato:</strong>
                <input type="text" name="tipo_contrato" value="{{ registro[3] }}">
            </label><br>
            <label><strong>Produto:</strong>
                <input type="text" name="produto" value="{{ registro[4] }}">
            </label><br>
            <label><strong>Corretor Responsável:</strong>
                <input type="text" name="corretor" value="{{ registro[5] }}">
            </label><br>
            <label><strong>Status:</strong>
                <input type="text" name="status" value="{{ registro[6] }}">
            </label><br>
            <button type="submit">Salvar alterações</button>
        </div>
    </form>
</div>

<script>
    function goBack() {
        if (document.referrer) {
            // Voltar para a página anterior
            window.history.back();
        } else {
            // Redirecionar para a home se não houver página anterior
            window.location.href = '/';
        }
    }
</script>
{% endblock %}