{% extends "base1.html" %}
{% block title %}Editar Contrato{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/tabpix.css') }}">

<div class="container-tab-pix">
    <div class="filter-tab-pix2">
        <a class="close-btn" href="{{ url_for('cad.detalhes_cnt',proposta=proposta) }}"class="close-btn"><</a>
    </div>

    <h1 class="table-title-tab-pix">Editar Contrato</h1>
        <a href=" {{ url_for('cad.alterar_infos_proposta', proposta=proposta,tp_alt='venda') }} ">alterar vendas</a>
        <br>
        <a href=" {{ url_for('cad.alterar_infos_proposta', proposta=proposta,tp_alt='respp') }} ">alterar responsavel</a>
        <br>
        <a href=" {{ url_for('cad.alterar_infos_proposta', proposta=proposta,tp_alt='titular') }} ">alterar titular</a>
        <br>
        <a href=" {{ url_for('cad.alterar_infos_proposta', proposta=proposta,tp_alt='depenn') }} ">alterar dependentes</a>
</div>

<script>
    function goBack() {
        if (document.referrer) {
            // Voltar para a página anterior
            window.history.back();
        } else {
            // Redirecionar para a home se não houver página anterior
            window.location.href = '/';
        }
    }
</script>
{% endblock %}