{% extends "base1.html" %}
{% block title %}Alterar Situação de contrato{% endblock %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- Botão de fechar -->
        
            <div class="divisoria2">
                <div class="close-btn-container">
                    <a class="close-btn" href="javascript:void(0);" onclick="goBack()" class="close-btn"><</a>
                </div>
                <h1>Proposta: {{proposta}}</h1>
                <h3>contrato: {{contrato}}</h3>
                <h3 hidden>id: {{id}}</h3>
                <p>Área: {{area}}</p>
                <p hidden>ultimo responsavel:{{last_resp}}</p>
                
                <br>
                <div>
                    <h2>mudar situação do contrato para:</h2>
                </div>
    
            <div class="form-field">
                <form method="POST" action="{{ url_for('cad.gravar_alteracao', id=id) }}">
                    <label for="status"></label>
                    <select id="status" name="status" required>
                        <option value="" disabled selected>selecione</option>
                        
                        {% if area == 'cadastro' %}
                        <option value="enviado para Declaração de Saúde">enviado para Declaração de saúde</option>
                        <option value="declaração online enviada">entrevista online enviada</option>
                        <option value="analise de declaração">Enviar para analise</option>
                        
                        <option value="entrevista realizada">entrevista realizada</option>
                        <option value="enviado para financeiro">enviado para o financeiro</option>
                            {% if last_resp == 'financeiro'  %}
                                <option value="contrato finalizado">contrato finalizado</option>
                            {% endif %}
                        {% elif area == 'financeiro' %}
                        <option value="boleto emitido">boleto emitido</option>
                        <option value="confexão de kit">enviado para confexão de kit</option>
                        {% elif area == 'administrativo' %}
                        <option value="entrevista online enviada">entrevista marcada</option>
                        <option value="entrevista aprovada">entrevista Aprovada</option>
                        <option value="entrevista agendada">entrevista Agendada</option>
                        <option value="entrevista presencial aprovada">entrevista presencial aprovada</option>
                        <option value="enviado ao cadastro">enviar ao cadastro</option>

                        {% else %}
                        <option value="status indefinido">Status indefinido</option>
                        {% endif %}
                    </select>
                    <input type="hidden" name="info" value="status">
                    <br><br>
                    <button class="btn" type="submit">alterar</button>
        
            </div>
             
            
        </div>
        </form>


    </div>
    
</body>
<script>
    function goBack() {
        if (document.referrer) {
            // Voltar para a página anterior
            window.history.back();
        } else {
            // Redirecionar para a home se não houver página anterior
            window.location.href = '/';
        }
    }
</script>
</html>

{% endblock %}

    

